@import url('https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

body {
    margin: 0;
    background-color: #000;
    color: #fff;
}

.container {
    margin-left: 100px;
    display: flex;
}

.sidebar {
    width: 80px;
    padding: 20px 0;
    display: none;
    flex-direction: column;
    align-items: center;
}

.sidebar .logo {
    margin-top: 40px;
    margin-left: 350px;
    margin-bottom: 40px;
    font-size: 40px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 100px;
    
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

.icon {
    font-size: 40px;
}

.main-contents {
    flex: 1;
    padding: 20px;
}

.header {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 150px;

}

.cover-image {
    margin-left: 30px;
    margin-top: -90px;
    width: 150%;
    max-width: 550px;
    border-radius: 10px;
}

h1 {
    margin-top: 20px;
    font-size: 24px;
}







.genres {
    margin-top: -150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.genre {
    flex: 1;
    margin: 20px;
    margin-top: -50px;
    min-width: 200px;
}

.genre h2 {
    margin-left: -10px;
    margin-bottom: 30px;

}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

}

.grid-item:nth-child(2),
.grid-item:nth-child(5) {
    margin-left: -250px;
    grid-column: span 1; /* Span only one column */
}

.grid-item:nth-child(3),
.grid-item:nth-child(6) {
    margin-left: -500px;
    grid-column: span 1; /* Span only one column */
}

.grid-item {
    
    border-radius: 10px;
    
    width: 50px;
    height: 50px;

}

.box {

     width: 50px;
     height: 50px;
     background-color: #fff;
     border-radius: 10px; 
}

.texts {

    font-size: 1em;
    color: #fff;
    margin-top: -40px;
    margin-left: 80px;
}











.new-grid {
    margin-top: -700px;
    margin-left: 650px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.genre2 {
    flex: 1;
    margin: 20px;
    margin-top: 100px;
    min-width: 200px;

}

.genre2 h2 {
    margin-left: -10px;
    margin-bottom: 30px;

}

.grid2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
   
}


.grid-item2 {
    border-radius: 10px;
    width: 50px;
    height: 50px;

}



.box2 {

     width: 50px;
     height: 50px;
     background-color: #fff;
     border-radius: 10px; 
}

.text2 {
    
    font-size: 1em;
    color: #fff;
    margin-top: -40px;
    margin-left: 80px;
}







.new-grid3 {
    margin-left: 650px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.genre3 {
    flex: 1;
    margin: 20px;
    min-width: 200px;

}

.genre3 h2 {
    margin-left: -10px;
    margin-bottom: 30px;

}

.grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
   

}


.grid-item3 {
    border-radius: 10px;
    width: 50px;
    height: 50px;

}

.box3 {

     width: 50px;
     height: 50px;
     background-color: #fff;
     border-radius: 10px; 
}

.text3 {
    
    font-size: 1em;
    color: #fff;
    margin-top: -40px;
    margin-left: 80px;
}






.new-grid4 {
    margin-top: -20px;
    margin-left: 650px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.genre4 {
    flex: 1;
    margin: 20px;
    min-width: 200px;
}

.genre4 h2 {
    margin-left: -10px;
    margin-bottom: 30px;
}

.grid4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
   

}


.grid-item4 {
    border-radius: 10px;
    width: 50px;
    height: 50px;

}

.box4 {

     width: 50px;
     height: 50px;
     background-color: #fff;
     border-radius: 10px; 
}

.text4 {
    
    font-size: 1em;
    color: #fff;
    margin-top: -40px;
    margin-left: 80px;
}

a.view-link{
    text-decoration: none;
}   