@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

/*top-bar*/
.nav-bar{
    width: 100%;
    height: 75px;
    background-color: black;
    position: fixed;
    padding-left: 75px;
    align-content: flex-start;
}

.nav-bar-container{
    height: 100%;
    display: flex;
    align-items: center;
}

.brand-name{
    color: white;
    font-size: 35px;
}

.profile-btn{
    right   : 30px;
    top: 25px;
    position: fixed;
}

/*side bar*/
.logo{
    width: 75px;
    position: fixed;
    top: 0px;
    left: 0px;
}

.side-bar{
    top: 0;
    width: 75px;
    height: 100%;
    background-color: black;
    position: fixed;
    flex-direction: column;
    padding-top: 75px;
    align-content: center;
}

.material-symbols-outlined{
    color: white;
}

.search-btn{
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 50%;
    margin-bottom: 30px;
    margin-left: 25px;
    font-size: 20px;
}

.home-btn{
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 50%;
    margin-bottom: 30px;
    margin-left: 15px;
    font-size: 30px;
}

.fav-btn{
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 50%; 
    margin-bottom: 30px;
    margin-left: 25px;
    font-size: 20px;
}

/*music nav*/
.music-nav{
    top: 70px;
    left: 75px;
    width: 100%;
    height: 180px;
    background-color: black;
    position: fixed;
    align-content: flex-start;
}

.new-desc{
    margin-left: 50px;
    right: 20px;
    color: white;
}

.create-desc{
    margin-left: 50px;
    font-size: 20px;
    right: 20px;
    color: white;
}

.add-music{
    padding: 10px;
    margin-left: 80px;
    font-size: 100px;
    right: 20px;
    color: white;
    font-weight: lighter;
}

/*music select*/

.music-select{
    top: 250px;
    left: 75px;
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    align-content: flex-start;
}

.start-desc{
    margin-top: 30px;
    margin-left: 50px;
    right: 20px;
    color: white;
}

.pick-desc{
    margin-left: 50px;
    font-size: 20px;
    right: 20px;
    color: white;
}

.music{
    width: 350px;
    height: 150px;
}

.music-list{
    width: 100%;
    height: 100px;
    display: flex;
    background-color: black;
    flex-direction: row;
    align-content: flex-start;
}

.music-img{
    margin-top: 30px;
    margin-left: 80px;
    width: 70px;
}

.m-name{
    color: white;
    margin-top: 40px;
    margin-left: 20px;
    padding-right: 150px;
    font-weight: bold;
}

.m-artist{
    color: white;   
    margin-left: 25px;
}

.contrast-nav{
    position: fixed;
    bottom: 0px;
    background-color: white;
    height: 50px;
    width: 100%;
}

.contrast-switch{
    font-size: 70px;
    color: black;
    position: fixed;
    right: 0px;
}


