@import url('https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css');

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

.container {
    display: flex;
}

.sidebar {
    width: 80px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .logo {
    margin-top: 40px;
    margin-left: 350px;
    margin-bottom: 40px;
    font-size: 40px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 100px;
    
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

.icon {
    font-size: 40px;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.header {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

.cover-image {

    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}

h1 {
    margin-top: 20px;
    font-size: 24px;
}

.genres {
    margin-top: -180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.genre {
    flex: 1;
    margin: 20px;
    min-width: 200px;
}

.genre h2 {
    margin-bottom: 10px;

}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

}

.grid-item:nth-child(2),
.grid-item:nth-child(4) {
    margin-left: -500px;
    grid-column: span 1; /* Span only one column */
}

.grid-item {
    padding: 10px;
    border-radius: 10px;
    
    width: 50px;
    height: 50px;

}

.box {

     width: 50px;
     height: 50px;
     background-color: #fff;
     border-radius: 10px; 
}

.text {

    font-size: 1em;
    color: #fff;
    margin-top: -40px;
    margin-left: 80px;
}











.new-grid {
    margin-top: -680px;
    margin-left: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.genre2 {
    flex: 1;
    margin: 20px;
    min-width: 200px;

}

.genre2 h2 {
    margin-left: -170px;
    margin-bottom: 10px;

}

.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-flow: row;

}

.grid-item2:nth-child(2),
.grid-item2:nth-child(4) {
    margin-left: -500px;
    grid-column: span 1; /* Span only one column */
}

.grid-item2 {
    padding: 10px;
    border-radius: 10px;
    
    width: 50px;
    height: 50px;

}

.box2 {

     width: 50px;
     height: 50px;
     background-color: #fff;
     border-radius: 10px; 
}

.text2 {
    
    font-size: 1em;
    color: #fff;
    margin-top: -40px;
    margin-left: 80px;
}





